* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
body {
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.6;
  }

.maincontainer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

h1 {
    font-size: 3.75rem;
    font-family: 'Times New Roman', Times, serif;
    color: #35463E;
}

h2 {
    font-size: 3.125rem;
    font-family: 'Times New Roman', Times, serif;
    color: #35463E;
}

a {
    font: size 1.56rem;
    font-family: 'Times New Roman', Times, serif;
    color: #35463E;
}       

p {
    font-size: 1,56rem;
    font-family: 'Times New Roman', Times, serif;
    color: #35463E;
    width: 50%;
}

/* buttons */

button {
    background-color: #FFE698;
    color: #35463E;
    font-size: 1.875rem;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 5rem;
    padding: 1rem 1.5rem;
}

button:hover {
    background-color: #dbbc6e;
}

#scrollTopButton {
    background-color: #35463E;
    font-size: 1.875rem;
    font-weight: bolder;
    color: #FFE698;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.5);
    position: fixed; 
    bottom: 30px; 
    right: 20px; 
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px; 
    height: 60px; 
    border: none;
    border-radius: 50%;
}


#scrollTopButton:hover {
    background-color: #dbbc6e;
}   

/* section -header */

.header {
    justify-content: space-between;
    display: flex;
    align-items: center;
 }

 .logo {
    max-height: 7rem; 
    margin-left: 1rem;
  }

 nav {  
    justify-content: space-between;
    background-color: #FFE698;
    padding: 1rem;
    padding-left: 2rem;
    border-radius: 50px 0px 0px 50px;
 }

 nav ul li {
    margin: 0 20px;
    display: inline-block;
 }

 nav a {
    text-decoration: none;
    color: #35463E; 
    font-size: 1.56rem;
    font-weight: bold;
 }

 nav a:hover {
    text-decoration: underline; 
}

/* section - image */

.image1 {
    border-radius: 25%;
    height: 480px;
    width: 485px;
}

.image2 {
    border-radius: 25%;
    height: 480px;
    width: 485px; 
}

/* section - text */

.text1 {
    font-size: 1.56rem;
    font-family: 'Times New Roman', Times, serif;
    color: #35463E;
    order: 1;

}

.text2 {
    font-size: 1.56rem;
    font-family: 'Times New Roman', Times, serif;
    color: #35463E;
    order: 2;
}

/* uvod */

#intro {
   display: grid;
   gap: 1rem;
   grid-template-columns: 1fr 1fr;
}


/* masaze */
#masage {
    display: flex;
}

.image2 {
    position: right;
}

/* pedikura */
#pedicure {
    display: flex;
}   

/* cenik */
#price {
    text-align: center;
}


.priceimage {
    border-radius: 5rem;
}

/* studio */
#stuido {
    display: flex;
}


/* kontakty */
#contacts {
    display: flex;
    
}


#footer {
    background-color: #FFE698;
    padding: 1rem;
    text-align: center;
    margin-left: 0;
}
