* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: var(--font-family);
    background-color: var(--background-color);
    color: var(--primary-color);
    line-height: 1.6;
  }

h1 {
    font-size: 3.75rem;
    font-family: 'Times New Roman', Times, serif;
    color: #333;
}

h2 {
    font-size: 3.125rem;
    font-family: 'Times New Roman', Times, serif;
    color: #35463E;
}

a {
    font: size 1.56rem;
    font-family: 'Times New Roman', Times, serif;
    color: #35463E;
}       

p {
    font-size: 1,56rem;
    font-family: 'Times New Roman', Times, serif;
    color: #35463E;
}

/* buttons */

button {
    background-color: #FFE698;
    color: #35463E;
    font-size: 1.875rem;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 5rem;
    padding: 1rem 1.5rem;
}

button:hover {
    background-color: #dbbc6e;
}

.scrollTopButton {
    background-color: #FFE698;
    font-size: 1.875rem;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.5);
}

.scrollTopButton:hover {
    background-color: #dbbc6e;
}   

/* section -header */

.header {
    justify-content: space-between;
    display: flex;
    align-items: center;
 }

 .logo {
    max-height: 7rem; 
    margin-left: 1rem;
  }

 nav {  
    justify-content: space-between;
    background-color: #FFE698;
    padding: 1rem;
    padding-left: 2rem;
    border-radius: 50px 0px 0px 50px;
 }

 nav ul li {
    margin: 0 20px;
    display: inline-block;
 }

 nav a {
    text-decoration: none;
    color: #35463E; 
    font-size: 1.56rem;
    font-weight: bold;
 }

 nav a:hover {
    text-decoration: underline; 
}

/* section - image */

.image1 {
    border-radius: 25%;
    height: 480px;
    width: 485px;
    order: 2;
}

.image2 {
    border-radius: 25%;
    height: 480px;
    width: 485px;
    order: 1;

}

/* section - text */

.text1 {
    font-size: 1.56rem;
    font-family: 'Times New Roman', Times, serif;
    color: #35463E;
    order: 1;

}

.text2 {
    font-size: 1.56rem;
    font-family: 'Times New Roman', Times, serif;
    color: #35463E;
    order: 2;
}

/* uvod */

.uvod {
    justify-content: space-between;
    display: flex;
    align-items: center;
}



/* masaze */



/* pedikura */


/* cenik */



/* studio */



/* kontakty */
